/* Resetting default CSS Rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling for the project */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-color: #008170; 
    --secondary-color: #005B41; 
    --text-color: black;
    --main-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--main-font);
}

ul {
    margin: 1rem 0;
}

.container {
    min-height: 100vh;
    display: grid; 
    grid-template-columns: 300px 3fr; 
    grid-template-rows: 170px;
}

/* Sidebar Styling */
.sidebar-container {
    grid-area: 1 / 1 / 4 / 2; 
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;

    display: grid; 
    grid-template-rows: auto auto 1fr;
    padding: 15px;
}

.sidebar-title {
    display: flex; 
    align-items: center;
    gap: 12px;
}

.sidebar-title h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar-title img {
    width: 48px;
    height: 48px;
    margin: 0;
}

.user-options li, .account-options li {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 48px;
    margin-left: 10px;
}

.user-options li img, .account-options li img {
    width: 25px; 
    height: 25px;
}

.user-options li p, .account-options li p {
    font-size: 1rem;
    font-weight: bold;
}

/* Header Styling */
.header-container {
    grid-area: 1 / 2 / 2 / 3;
    padding: 12px;
    display: grid;
}

.top-container {
    display: grid; 
    grid-gap: 25px;
    grid-template-columns: 2fr 1fr;
}

.search-bar {
    display: grid; 
    grid-template-columns: 70px 3fr;
    align-items: center; 
    justify-items: center;
}

.search-bar img {
    width: 25px; 
    height: 25px;
}

.search-bar > div {
    background-color: lightgray;
    border-radius: 50px;
    height: 30px;
    width: 100%;
}

.user-icons {
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 25px;
}

.user-icons > p {
    font-size: 1.1rem;
    font-weight: bold;
}

.user-icons img {
    width: 30px;
    height: 30px;
}

.user-info-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

.user-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.user-info img {
    width: 100px; 
    height: 100px;
}

.user-info h2 {
    font-size: 1.5rem;
}

.user-info span {
    font-size: 0.80rem;
}

.user-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin-right: 120px;
}

.user-buttons a {
    background-color: var(--secondary-color);
    padding: 15px 40px;
    border-radius: 70px;
    text-decoration: none;
    color: white;
}

/* Main Section Styling */
.main-container {
    grid-area: 2 / 2 / 4 / 3;
    background-color: lightgray;

    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.your-projects {
    grid-row: 1 / 3; 

    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}